body {
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: yellow;
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%; 
}

.box {
    background-color: white;
    border: 1px solid black;
    height: 50%; 
}